<div class='center hero-unit'>

<h1>Snorkel Home</h1>

  <%= link_to "Already have a snorkel?", '#', class: "btn btn-large btn-primary"%>
  <%= link_to "Start Snorkeling", signup_path, class: "btn btn-large btn-primary"%>
</div>
