<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Snorkel", root_path, id: "logo" %>
      <nav>
        <%= render 'shared/menu' %>
      </nav>
    </div>
  </div>
</header>
