<div class="row ">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
    <%= render 'shared/micropost_form' %>
    </section>
    <section>
    <%= link_to "see who's logged in", logins_path %>
    </section>
  </aside>
  <div class="span8 pull-right">
    <h6 class="feed">Snorks</h6>
      <%= render 'shared/feed' %>
  </div>
</div>

