// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "global/variables";
.users{ 
  list-style: none;
  padding: 10px 0;
  li{ overflow: auto; 
    border-top: 1px solid $grayLighter;
    &:last-child{ border-bottom: 1px solid $grayLighter }
  }
}
.delete-user{ 
  background: #FF1122;
  color: red;
  margin-right: 8px;
  padding:1px;
}
.login-status{ 
  color: $grayMediumlight;
  margin:10px;
  background:#99ccff;
  padding:  4px 8px ;
  font-size: .9em;
  font-style: italic;
  border: solid 1px #CCC;
}
